<h2>Cập nhật mới từ chiến dịch {{campaignTitle}}</h2>

<h3>{{progressTitle}}</h3>

<p>{{progressDescription}}</p>

{{#if images.length}}
  <h4>Hình ảnh cập nhật:</h4>
  <div>
    {{#each images}}
      <img src='{{this}}' style='max-width: 300px; margin: 10px;' />
    {{/each}}
  </div>
{{/if}}

{{#if documents.length}}
  <h4>Tài liệu đính kèm:</h4>
  <ul>
    {{#each documents}}
      <li><a href='{{this}}'>Xem tài liệu</a></li>
    {{/each}}
  </ul>
{{/if}}

<p>Thời gian cập nhật: {{date}}</p>