<div>
  <h2>Cập nhật tiến độ chiến dịch {{campaignTitle}}</h2>

  <h3>{{progressTitle}}</h3>

  <div class='progress-content'>
    <p>{{progressDescription}}</p>

    {{#if images.length}}
      <div class='images'>
        <h4>Hình ảnh cập nhật:</h4>
        {{#each images}}
          <img src='{{this}}' style='max-width: 300px; margin: 10px' />
        {{/each}}
      </div>
    {{/if}}

    {{#if documents.length}}
      <div class='documents'>
        <h4>Tài liệu đính kèm:</h4>
        <ul>
          {{#each documents}}
            <li><a href='{{this}}'>Xem tài liệu</a></li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>

  <p class='date'>Thời gian cập nhật: {{date}}</p>
</div>